# Required
ODDS_API_IO_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Optional
SPORTS=football,basketball,tennis,baseball,american-football,ice-hockey,mixed-martial-arts,boxing,rugby,cricket,table-tennis,esports,volleyball,handball,futsal,badminton,snooker,darts,aussie-rules,cycling,golf,squash,waterpolo
WS_CONNECTIONS_PER_KEY=2
PORT=3000
